.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  background-color: white;
}

p {
 font-size: 20px;
}

.equation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  font-size: 48px;
}

.myForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
}

.formSection {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

input {
  height: 40px;
}